/* used for species with multiple batches - half width logs */
h3 {
  clear: both;
}

img {
  max-width: 300px;
  max-height: 400px;
  float: left;
}

.cactus-log {
  padding-bottom: 10px;
}

.main-notes {
  background-color: #f0e6c7;
  display: block;
  min-height: 300px;
}

.row {
  display: block;
  clear: both;
  padding: 10px 0 10px 0;
}

.batch-logs {
  clear: both;
}

.batch {
  text-align: center;
  width: 50%;
  float: left;
}
