/* article {
  text-align: center;
  width: 50%;
  float: left;
} */

img {
  max-width: 300px;
  max-height: 400px;
  float: left;
}

.cactus-log {
  padding-bottom: 10px;
}

.main-notes {
  background-color: #f0e6c7;
  display: block;
}

.row {
  display: block;
  clear: both;
  padding-bottom: 5px;
  border-bottom: #3c3a33
}

.batch-logs {
  clear: both;
}

.batch {
  text-align: center;
  width: 50%;
  float: left;
}
/* .batch:nth-child(even) {
  background-color: #ddd;
} */